<!DOCTYPE html>

<html>
<body>
<div class="row">
    <div class="container">
       <h3>Deeraty is about neighborhoods. Use the site to go to your neighborhood, make suggestions on what needs improvement, and check out other suggestions. This is about making our neighborhoods our homes and doing what we can to improve them.<h3>
       
       <h3>Well, search no more! Simply create your own <a href="/personal_ad_form/">personal ad</a> and have your soulmate find you! </h3>
          
    </div>
</div>
</body>
</html>