<!DOCTYPE html>
<html>
<h1>See what others suggested:</h1>
<br><br>
<body>
<form method="POST" action="/events"> <!-->The information I provide here will be POSTED and will take me to XYZ page<-->
<% for(i=0; i<idea.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/entry/<%= idea[i].urlslug %>">
                <%= idea[i].idea %>
            </a>
        </h2>
        
        	<img class="span8" src="/img/<%= ad[i].image %>">
        <h3 class="good">This is good because: <%= idea[i].good%>
        </h3>
        <small>By <%= idea[i].name %> on <%= idea[i].date %></small>
       <input type="submit" class="span4 btn-info" value="I like what I see!" />
       
       <hr />
        
    </div>
</div>

<% } %>
  </form>
 </body>
</html>
