<!DOCTYPE html>
<html>
<h1>See what others suggested:</h1>
<body>
 <div class="span8" id="map_canvas"></div> <!--This is where Google places the map on the site-->

<% for(i=0; i<idea.length; i++) { %>
	<form method="POST" action="/my_idea/<%= idea[i].urlslug %>"> <!-- The information I provide here will be POSTED and will take me to XYZ pg-->	
		<div class="row">

    		<div class="span12">
					<h2 class="location">The location: <%= idea[i].location %>. </h2>
       				 <h2>
            			<a href="/my_idea/<%= idea[i].urlslug %>">
                			<%= idea[i].idea %>
            			</a>
       				 </h2>
        
        	<img class="span8" src="/img/<%= idea[i].image %>">
       		 <h3 class="good">This is good because: <%= idea[i].good%>
        	</h3>
        <small>By <%= idea[i].name %> on <%= idea[i].date %></small>
       <input type="submit" class="span4 btn-info" value="Let's discuss لنناقش " />
       
       <hr />
        
    </div>
</div>
 </form>
<% } %>
 
 </body>
</html>
