<!DOCTYPE html>
<html>
   <head>
       <title><% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
Deeraty ديرتي
<% } %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
<div class="row">
	<div class="header">
	
	<h1>Deeraty ديرتي</h1>
	</div>
</div>

<div class="row">
	<div class="span5">
	  <h2><a href="/post_idea">Post an idea نشر فكرة</a></h2>
	</div>
	<div class="span5" id="browse">
	 <h2><a href="/all_ideas">Browse ideas تصفح الأفكار</a></h2>
	</div>
	<div class="span5">
	  <h2><a href="/about">About عن الموقع</a></h2>
	</div>
</div>	

<div id="Types">

 <% for(i=0; i<Types.length; i++) { %>
        <div class="type">
        	<a href="/"><%= Types[i] %></a>
        </div>
 <% } %>
</div>
  </head>
  <body>
   <div class="container">

            <div class="header">
                <% if (typeof pageTitle != "undefined") { %>
                   <h1><%= pageTitle %></h1>
                <% } %>
            </div>
            
            <div class="">
                <%- body %>
            </div>


    </div>
    <div class="span12">
    <h3>من منتجات سارة البسام a Sara Al-Bassam production</h3>
    </div>
<!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/map.js"></script>
        <script>
            jQuery(document).ready(function() {
                loadScript();
                
            })
        </script>
  </body>
</html>