<!DOCTYPE html>
<html>
   <head>
       <title><% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
Deeraty ديرتي
<% } %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
<div class="row">
	<div class="header">
	
	<h1>Deeraty</h1>
	</div>
</div>

<div class="row">
	<div class="span4">
	  <h2><a href="/post_idea">عندي فكرة Post an idea</a></h2>
	</div>
	<div class="span4" id="browse">
	 <h2><a href="/all_ideas">أفكار Browse ideas</a></h2>
	</div>
	<div class="span4">
	  <h2><a href="/about">About</a></h2>
	</div>
</div>	

<div id="Types">

 <% for(i=0; i<Types.length; i++) { %>
        <div class="type">
        	<a href="/"><%= Types[i] %></a>
        </div>
 <% } %>
</div>
  </head>
  <body>
   <div class="container">

            <div class="header">
                <% if (typeof pageTitle != "undefined") { %>
                   <h1><%= pageTitle %></h1>
                <% } %>
            </div>
            
            <div class="">
                <%- body %>
            </div>


        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


  </body>
</html>