<div class="row">
    <div class="span12">
       
            <div class="row">
                <div class="span8 offset2">
                    <h2 class="location">The location: <% idea.location %>. </h2>
                    <h2 class="idea">The idea: <%= idea.idea %>.</h2>
                    <br>
                    <h2 class="good">
                       What it will do: <%= idea.good %>.
                    </h2>
                    <br>
                
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    <br><br>
                    <h2><a href="/post_idea/">Post a new idea</a></h2> <h2><a href="/all_ideas/">See other ideas!</a></h2>
                </div>
                
            </div>

    </div>
</div>