<div class="row">
    <div class="span12">
       
            <div class="row">
                <div class="span8 offset2">
                    <h2 class="idea">My idea is <%= idea.idea %>.</h2>
                    <br>
                    <h2 class="good">
                       This is good because: <%= idea.good %>.
                    </h2>
                    <br>
                    <!--><img class="span8" src="/img/<%= ad.image %>"><-->
                
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    <br><br>
                    <h3><a href="/post_idea/">Post a new idea</a></h3> <h3><a href="/all/">See other ads!</a></h3>
                </div>
                
            </div>

    </div>
</div>