<div class="row">
    <div class="span12">
       
            <div class="row">
                <div class="span8 offset2">
                    <h2 class="name">My name is <%= ad.name %>.</h2>
                    <br>
                    <h2 class="night">
                       My ideal date would be: <%= ad.night %>.
                    </h2>
                    <br>
                    <img class="span8" src="/img/<%= ad.image %>">
                
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    <br><br>
                    <h3><a href="/personal_ad_form/">Make a new ad</a></h3> <h3><a href="/all/">See other ads!</a></h3>
                </div>
                
            </div>

    </div>
</div>