<!DOCTYPE html>
<html>
<body>
<div class="row">
    <div class="span12">
        <form method="POST" action="/post_idea"> <!-- make sure this matches the POST action in the web.js file -->
    		<div class="container">
    			 <div class="span8" id="map_canvas"></div>
    			 <br/><br/>
    		</div>	 
    		<div class="row">
    			<div class="span4 offset2">
    				Location: <select name="location">
						<% for(i=0; i<locations.length; i++) { %>
						<option value="<%= locations[i].shortname %>"><%= locations[i].title %></option>
					 <% } %>
					</select>
    			</div>
    		</div>
            <div class="row">
                <div class="span4 offset2">
                    <label for="idea">My idea is to...</label><br/>
                    <textarea type="text" name="idea" id="idea" cols="200" rows="12"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div class="span7 offset2">
                    <br />
                    <label for="good">This would be good because...</label>
                    <textarea name="good" id="good" cols="200" rows="12"></textarea>
                </div>
            </div>
            <div class="row">
             <div class="span3 offset1">
               <label for="type">Type of suggestion:</label>
                <% for(i=0; i<Types.length; i++) { %>
                <div class="offset1 span2">
                    <input type="radio" name="type" label="<%= Types[i] %>" value="<%= Types[i] %>"> <%= Types[i] %>
                </div>
                <% } %>
             </div>
            </div>
            <div class="row">
            	<div class="span3 offset1">
            		<label for="name">My name:</label>
            		<input type="text" name="name" id="name" size="60">
            	</div>
            	<div class="span3 offset1">
            		<label for="email">My email address:</label>
            		<input type="text" name="email" id="email" size="60">
            	</div>
            </div>
           
            <div class="row">
                <div class="offset4 span4">
                    <br/><br/>
                    <input type="submit" class="span4 btn-info" value="Post my idea" />
                    
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>
