body { 
   /* background: #808080; */
    color : #000000;
    font-family: 'Helvetica';
    background-image:url('../img/desert.jpg');
}

a { 
    color: #FFFFFF;
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    line-height:60px;
    color: #FFFFFF;
     text-align:center;
}


h2 {
    font-size: 30px;
    line-height:50px;
    color: #FFFFFF;
    text-align:center;
    padding-bottom: 5px;
}

h3{
font-size: 15px;
line-height:35px;
color: #FFFFFF;
}

h4{
color: #FF0000;
}

label {
    font-family: 'Helvetica';
    <!--font-size:30px;->
    <!--line-height:45px;->
    color: #FFFFFF;
    
}


input,textarea {
	font-family: 'Helvetica';
    padding:8px;
    font-size:30px;
    height:52px;
    
}

textarea#message {
    width:610px;
    height:200px;
    line-height:50px;
    font-family: 'Helvetica';
}


.container { 


}

.header {
    padding:30px 0 30px 0;
    text-align:center;
}

#Types { 
	width:100px;
	visibility:hidden;

}

.type {  
	
}

#map_canvas img {
max-width: none;
}

#map_canvas a{
	color:red;
	}
	
div#map_canvas {
    width:1000px;
    height:500px;
}